<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Defi-ing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
  </head>
  <body>
    <header>
        <div class="container">
          <h1 class="logo">HACKDKU - Defi-ing Insurance</h1>
          <strong><nav>
            <ul class="menu">
              <li><a href="{{url_for('home')}}">Home</a></li>
              <li><a href="{{url_for('index')}}">Tasks</a></li>
            </ul>
          </nav></strong>
        </div>
      </header>
      <h2>HOME</h2>
      <h1>Intro:</h1>
      <p>Hello! This is for DKU's 2024 HACKATHON</p>
      <p>Our application strives to act as a middleman between insurance companies and consumers, ensuring that both parties mutually benefit from our intervention. </p>
      <p>First, we aim to collaborate with major insurance firms to ensure our blockchain tokens will be accepted. </p>
      <p>Then, our app will launch to their consumers. They will be able to log in with the same credentials as their purchased plan. 
      <p>The app will survey each user and collect responses, then using AI technology, generate a list of tasks for them to complete. </p>
      <p>These tasks will be productive, with the goal of reducing their risk in whatever insurance plan they are enrolled in. </p>
      <p>For instance, our main focus was home insurance, so one task that could be generated is checking your fire alarms or sprinkler systems. </p>
      <p> Other tasks can include reinforcing your home or installing a security camera to guard against thefts. </p>
      <p> Once these tasks are completed, an individual will send proof in the form of an invoice or other photo evidence. 
      <p> This will be verified by IoF technology, analyzed by us, and communicated to the insurance company. </p>
      <p> As a reward, the task-completer will get a predetermined non-fungible token (worth more value according to task difficulty). </p>
      <p> These tokens can be directly exchanged for discounts in insurance as negotiated with the insurance company. </p>
      <p> Exchanged NFTs will be returned to us, and we will only mint a limited number of each discount token, increasing their value for consumers in times of disaster while allowing consumers to pay less during safe times. </p>
      <p> This optimizes consumer spending as their plan price changes based on individual actions. The insurance companies also benefit as we will share consumer data, willingly input, to them.</p>

      <p> </p>
  </body>
  <footer class="footer">
		<div class="container">
		  <span class="footer-text">Copyright © 2024 Duke Kunshan University.</span>
		</div>
	  </footer>
</html>
